{% extends 'hotels/base.html' %}
{% block title %}Home{% endblock %}
{% load staticfiles %}
{% block body %}
<div class="row" style="width: 100%">
        <div style="align-content: center;width:100%;padding-left: 5%;padding-right: 0%">
<center><h3 style="color:blanchedalmond;font-size:40px;align-content: center;padding-left: 25%;padding-right: 25%"><br />
    Welcome to
</h3></center>

<center><br /><span style="color:azure;font-size:50px;align-content: center;padding-left: 15%;padding-right: 15%;font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;">
    HOTEL BOOKING SYSTEM
</span></center>

</div>
</div>
{% endblock %}