{% extends 'hotels/base.html' %}
{% block title %}Profile{% endblock %}
{% block body %}
{% load staticfiles %}
        <div class="containers" style="max-width: 100%;max-height: 100%;">
          <div class="content-profile">
            <div class="profile">
              <div class="image-content">
                <div class="circle circle-1"></div>
                {% if user.is_customer %}
                <div class="circle circle-2"></div><img src="{% static "hotels/images/user.png" %}" alt="imgprofile"/>
                {% endif %}
                {% if user.is_manager %}
                <div class="circle circle-2"></div><img src="{% static "hotels/images/manager.png" %}" alt="imgprofile"/>
                {% endif %}
              </div>
              <h4 class="profile__name" style="font-size:35px;">{{ user.username }}<span style="font-size:20px">{{ user.first_name }} {{ user.last_name }}</span></h4>
            </div>
            <div class="profile-info">
              <div class="profile-info__item">
                <p>{{ user.email }}<span>Email ID</span></p>
              </div>

              <div class="profile-info__item">
                <p>{{ user.contact }}<span>Contact</span></p>
              </div>
              <div class="profile-info__item">
                <p>{{ user.birth_date }}<span>Date of Birth</span></p>
              </div>


            </div>
          </div>
        </div>
        <p>
        </p><br />
{% endblock %}
