{% extends 'hotels/base.html' %}
{% block title %}Search{% endblock %}
{% load staticfiles %}
{% block body %}
<p>
  <div >
    <div class="panel-body">
      <center><h2 style="color: #F96;	display: block;	font-size: 30px;font-weight: 400;">Search<h2><br /></center>
      <form class="search-container" action="" method="GET" enctype="multipart/form-data">
        <div>
          <select name="location" class="form-control" type="text" id="search-bar" required>
            <option value="" selected="selected">Location</option>
            {% for location in locations %}
              <option value="{{ location }}">{{ location }}</option>
            {% endfor %}
          </select>
          <br />
          <div class="form-group">
            <center><button class="button-three">Search</button></center>
          </div>
        </div>
      </form>
    </div>
    
    {% if hotels %}
    <div class="container" style="background-color: #F9F9F9;opacity:0.86">
      <ul id="results">
        {% for hotel in hotels %}
        <li>
          <div class="list-left" style="font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;">
                <h3 style="font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;>Hotel Name: </h3><br />
                <h3 style="font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;>Contact Number: </h3><br />
                <h3 style="font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;>Email: </h3><br />
                <h3 style="font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;>Amount: </h3>
          </div>
          <div class="list-right">
                <h2 style="font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;>{{ hotel.name }}</h2><br />
            <br /><h3 style="font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;>{{ hotel.contact }}</h3><br />
            <br /><h3 style="font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;>{{ hotel.email }}</h3><br />
            <h3 style="font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;>₹{{ hotel.amount }}</h3><br />
            
          </li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
      
    </div>
  </div>
  
</p>
{% endblock %}
